body {

	background-image: url(img/fondoPOR.jpg);
	background-repeat:repeat;
}

font
{

	color: rgba(52, 73, 94,1.0);
	text-decoration:none;

}

.bodyfirst
{
	height: 50%;
	width: 100%;
	background-color: rgba(236, 240, 241,1.0);
}

.Contraheader
{
	display: flex;
	height: 20%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);

}

p
{
	color: rgba(52, 73, 94,1.0);
	font-size: 500%;
}