/*puedes crear funciones o mixins*/
/*ahora las grandes bondades de usar stylus es que podemos crear estilos sin preocuparnos por las  {} : ; '' entre otras cosas, por ejemplo*/
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #00f;
  font-family: 'Helvetica' sans-serif;
  text-align: center;
  text-rendering: optimizeLegibility;
}
.Cabecera {
  background-color: #7f8c8d;
  border: 2px solid #000;
  border-color: #f00;
  height: 450px;
  width: 100%;
}
#menu {
  height: 100px;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #34495e; /* aa */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
#menu nav {
  font-size: 1.3em;
  height: 100%;
  line-height: 100px;
  margin-left: 5%;
  width: 700px;
}
#menu nav ul {
  height: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}
#menu nav ul li {
  border: 1px solid #ecf0f1;
  display: inline;
  padding: 0 0.8em 0 0;
}
#menu nav ul li a {
  border: 1px solid #27ae60;
  color: #ecf0f1;
  text-decoration: none;
}
#menu nav ul li a:hover {
  color: #16a085;
  text-decoration: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  font-size: 1.2em;
}
#menu nav ul li a:active {
  background-color: #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0s;
}
#Body1 {
  background-color: #a52a2a;
  height: 350px;
  width: 100%;
  border: 4px solid #ecf0f1;
}
#contenedorCentrado {
  display: inline-flex;
  height: 100%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
#imagenFotoDerecha {
  border: 4px solid #f00;
  height: 100%;
  width: 40%;
  margin-left: 60%;
}
#FotoLOGOP {
  background-color: #000;
  background-size: 135%;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
  height: 100%;
  margin-left: 1%;
  margin-top: 1%;
  width: 100%;
  vertical-align: left;
}
#ImagenTituloIzquierda {
  border: 4px solid #f00;
  color: #ecf0f1;
  height: 50%;
  width: 55%;
  margin-top: -20%;
  text-align: right;
}
#ImagenTituloIzquierda h1 {
  font-size: 3.5em;
}
#ImagenTituloIzquierda h4 {
  font-size: 1.5em;
}
.divisorBlanco {
  background-color: #ecf0f1;
  clear: both;
  display: flex;
  height: 50px;
  width: 100%;
}
#tituloA {
  background-color: #ecf0f1;
  color: #000;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100%;
}
#tituloA h1 {
  height: 100px;
  font-size: 3em;
  font-weight: lighter;
  line-height: 30px;
  width: 100px;
}
#cuerpoArticulo {
  background-color: #ecf0f1;
  font-family: "Helvetica" sans-serif;
  color: #000;
  width: 100%;
  height: 300px;
}
#cajaArticulos {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  order: 1;
  height: 100%;
  width: 90%;
}
#articuloA,
#articuloB,
#articuloC {
  display: flex;
  background-color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#articuloA {
  height: 100%;
  order: 1;
  width: 40%;
  display: flex;
  margin-right: 3%;
}
#articuloB {
  height: 100%;
  order: 1;
  margin-right: 3%;
  width: 40%;
  display: flex;
}
#articuloC {
  height: 100%;
  order: 1;
  margin-right: 3%;
  width: 40%;
  display: flex;
}
#tituA {
  height: 10%;
  width: 90%;
  border: 2px solid #000;
  border-color: #f00;
  font-size: 20px;
}
#articuloAF,
#articuloBF,
#articuloCF {
  background-color: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
#articuloAF {
  height: 70%;
  order: 1;
  width: 100%;
  background-color: #808080;
}
#articuloBF {
  height: 70%;
  order: 1;
  width: 100%;
  background-color: #808080;
}
#articuloCF {
  height: 70%;
  order: 1;
  width: 100%;
  background-color: #808080;
}
#articuloD {
  height: 20%;
  order: 3;
  width: 100%;
  border: 2px solid #000;
  border-color: #f00;
}
