//variables
nigga = rgba(0, 0, 0, .75)
//mixins
bordes(n) 
	-webkit-border-radius n
	-moz-border-radius n
	-ms-border-radius n
	-o-border-radius n
	border-radius n
animaciones(tiempo,px,duracion)
	
	
body
#menu
	
#contenedor
	bordes 20px
	animaciones(1s,20px,2s)
	h1
		color red

#gil
	animaciones(5s,100px,2s)