/*crea tu propio estilo y lo incluyes en el index.html*/
rosa = rgba(231, 76, 60,0.6)
pomegranade = rgba(192, 57, 43,1.0)
rosapomegranade = rgba(192, 57, 43,0.5)
blanco = rgba(236, 240, 241,1.0)
concreto = rgba(149, 165, 166,1.0)
turquesa = rgba(26, 188, 156,1.0)
verdeoceano = rgba(22, 160, 133,1.0)
amarillogirasol = rgba(241, 196, 15,1.0)
naranja = rgba(243, 156, 18,1.0)
esmeralda = rgba(46, 204, 113,1.0)
nephritis = rgba(39, 174, 96,1.0)
carrot = rgba(230, 126, 34,1.0)
pumpkin = rgba(211, 84, 0,1.0)
peterriver = rgba(52, 152, 219,1.0)
belizehola = rgba(41, 128, 185,1.0)
alizarin = rgba(231, 76, 60,1.0)
amatista = rgba(155, 89, 182,1.0)
wisteria = rgba(142, 68, 173,1.0)
clouds = rgba(236, 240, 241,1.0)
silver = rgba(189, 195, 199,1.0)
wetasphalt = rgba(52, 73, 94,1.0)
midnightblue = rgba(44, 62, 80,1.0)
asbestos = rgba(127, 140, 141,1.0)
grisscarlet = #e1e3e2
niggas = #323232https://www.youtube.com/watch?v=RFKMZUegu1s&index=57&list=PLe12OyUk1T6ERcD5RlUmNbzci3SU5cVRa

//Mixins
bordes(n)
	-webkit-border-radius n
	-moz-border-radius n
	-ms-border-radius n
	-o-border-radius n
	border-radius n
	
	/*el selector * se usa para asignarle esas propiedades a todas las etiquetas que existen en la pagina web 0*/
*
	margin 0
	padding 0
body
	/* el atributo background se usa en body, asi como en etiquetas que hagan la funcion de contenedor, 
	div, article, section, footer...
	*/
	background-color clouds
	color concreto
	/* el atributo font-family sirve para agregarle un tipo de fuente al la pagina web */
	font-family 'Helvetica', sans-serif
	text-align center
	text-rendering optimizeLegibility
#CPmenu
	background-color rosa
	border 1px solid black
	display inline-flex
	height 25px
	width 100%
#cajaMenu
	background-color peterriver
	border 1px solid verde
	height 300px
	width 100%
#contenedoraMenu
	border 1px solid naranja
	display inline-flex
	height 200px
	width 90%
#logoytitulo
	border 1px solid midnightblue
	display inline-flex
	height 100%
	width 30%
#imgLogo
	border 1px solid amatista
	height 50%
	width 30%
#titulo
	border 1px solid blue
	height 50%
	width 70%
#buscador
	border 1px solid midnightblue
	height 100%
	width 70%
#menu
	border 1px solid amarillogirasol
	height 90px
	width 100%
	nav 
		align-items center
		border 1px solid alizarin
		display inline-flex
		flex-direction row
		font-size 1.2em
		height 90px
		justify-content center
		margin-left 10%
		margin-right 10%
		width 80%
	ul
		height 20px		
		list-style none
	li
		align-items center
		display inline-flex
		flex-direction row
		height 90px	
		justify-content center
		padding  0 0.8em 0 0
	a
		color blanco
		height 90px	
		text-decoration none
	a:hover
		color niggas
		text-decoration none
	a:active
		background-color blanco
		bordes 5px
		text-decoration none
	